/* ==========================================================================
Colors
   ========================================================================== */
$forest-blue: #102126;
$sky-blue: #0099FF;

/* ==========================================================================
Fonts
   ========================================================================== */
$base-font-family: Optima, sans-serif,  serif, Helvetica, Arial, sans-serif;

/* ==========================================================================
Fonts
   ========================================================================== */
