.products-list {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 0px;
}
.products-list__row + .products-list__row {
    @include bp(screen-desktop) {
        border-top: $thin-white-border;
    }
}
.products-list__row:first-child {
    > .product__container {
        padding-top: 0;
    }
}
