.store__container {
    position: relative;
    display: block;
    width: 100%;
    max-width: 100vw;
    width: auto;
    margin-top: -55px;
}
.store__banner__container {
    position: relative;
    display: block;
    height: 350px;
}
.store__banner {
    position: relative;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 100%;
}
.store__main {
    position: relative;
    display: block;
    max-width: 940px;
    left: 50%;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%); 
    padding-bottom: 100px;
}
